---
---
$header-bg-color: #1e6bb8; 
$header-bg-color-secondary: #800033; 
$body-link-color: #7EA7D3; 
$body-bg-color: #1a1a1a;

$blockquote-text-color: #819198; 
$code-text-color: #494D4E;

@import "{{ site.theme }}";

