<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head bgcolor="#f8f9f9">
  <meta name="google-site-verification" content="UtBQXaaKqY6KYEk1SldtSO5XVEy9SmoUfqJ5as0603Y" />
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
        }
      });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171312398-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171312398-1');
    </script>

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>
  
  <body> 
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% if page.url == "/" %}
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://blbadger.github.io#dynamics" class="btn">Dynamics</a>
      <a href="https://blbadger.github.io#boundaries" class="btn">Boundaries</a>
      <a href="https://blbadger.github.io#foundations" class="btn">Foundations</a>
      <a href="https://blbadger.github.io#physics" class="btn">Physics</a>
      <a href="https://blbadger.github.io#biology" class="btn">Biology</a>
      <a href="https://blbadger.github.io#neural-nets-and-smaller-software-projects" class="btn">Neural Networks</a>
      <a href="https://blbadger.github.io#high-voltage" class="btn">Sparks & Plasma</a>
      {% endif %}
      
      {% if page.url != "/" %}
        <a href="https://blbadger.github.io" class="btn">Home Page</a>
      {% endif %}
      
      {% if page.url == "/logistic-map.html" %}
      <a href="https://github.com/blbadger/logisticmap" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/aperiodic-inverted.html" class="btn">Reverse logistic</a>
      {% endif %}
      
      {% if page.url == "/clifford-attractor.html" %}
        <a href="https://blbadger.github.io/clifford-boundary.html" class="btn">Clifford bound</a>
      <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/grid-map.html" %}
        <a href="https://blbadger.github.io/additivity-order.html" class="btn">Additive order</a>
        <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/pendulum-map.html" %}
        <a href="https://blbadger.github.io/continuity-poincare.html" class="btn">Periodicity in 2D</a>
      
      {% endif %}
      
      {% if page.url == "/polynomial-roots.html" %}
        <a href="https://github.com/blbadger/polyroots" class="btn">Source Code</a>
        <a href="https://pfinderr.herokuapp.com" class="btn">Pfinder</a>
      {% endif %}
      
      {% if page.url == "/julia-sets.html" %}
        <a href="https://github.com/blbadger/juliabrots" class="btn"Source Code</a>
        <a href="https://jenerator.herokuapp.com/" class="btn">Jenerator</a>
      {% endif %}
      
      {% if page.url == "/mandelbrot-set.html" %}
        <a href="https://github.com/blbadger/juliabrots" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/henon-map.html" %}
        <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
            
      {% if page.url == "/clifford-boundary.html" %}
        <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/logistic-boundary.html" %}
        <a href="https://github.com/blbadger/logisticmap" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/unpredictable-primes.html" %}
        <a href="https://blbadger.github.io/solvable-periodicity.html" class="btn">Decidable dynamics</a>
      {% endif %}
      
      {% if page.url == "/chaotic-sensitivity.html" %}
        <a href="https://blbadger.github.io/most-discontinuous.html" class="btn">Discontinuity</a>
      {% endif %}
      
      {% if page.url == "/aperiodic-irrationals.html" %}
        <a href="https://blbadger.github.io/unpredictable-primes.html" class="btn">Unpredictable primes</a>
      {% endif %}
      
      {% if page.url == "/irrational-dimension.html" %}
        <a href="https://blbadger.github.io/solvable-periodicity.html" class="btn">Decidability</a>
      {% endif %}
      
      {% if page.url == "/most-discontinuous.html" %}
        <a href="https://blbadger.github.io/aperiodic-irrationals.html" class="btn">Aperiodic Irrationals</a>
      {% endif %}
      
      {% if page.url == "/continuity-poincare.html" %}
        <a href="https://blbadger.github.io/pendulum-map.html" class="btn">Pendulum Map</a>
      {% endif %}
      
      {% if page.url == "/solvable-periodicity.html" %}
        <a href="https://github.com/blbadger/tmachines" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/nonlinear-dimension.html" %}
        <a href="https://blbadger.github.io/fractal-geometry.html" class="btn">Fractal Geometry</a>
      {% endif %}
      
      {% if page.url == "/aperiodic-inverted.html" %}
        <a href="https://github.com/blbadger/logisticmap" class="btn">Logistic Code</a>
        <a href="https://github.com/blbadger/2dattractors" class="btn">Henon Code</a>
      {% endif %}
      
      {% if page.url == "/additivity-order.html" %}
        <a href="https://github.com/blbadger/fractalgeoms" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/fractal-geometry.html" %}
        <a href="https://github.com/blbadger/fractalgeoms" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/3-body-problem.html" %}
        <a href="https://github.com/blbadger/threebody" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/neural-networks.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/neural-networks2.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/puzzle-projects.html" %}
        <a href="https://github.com/blbadger/miscellaneous_fun_projects" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/puzzle-projects.html" %}
        <a href="https://github.com/blbadger/miscellaneous_fun_projects" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/computing-programs.html" %}
        <a href="https://github.com/blbadger/miscellaneous_fun_projects" class="btn">Source Code</a>
      {% endif %}
      
      
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer" style="font-size: 1.1rem">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits"> Built with Jekyll on Cayman. &copy; B. L. Badger. </span>
        <span class="site-footer-credits">Link to <a href="https://blbadger.github.io">Home Page</a>.</span>
      </footer>
    </main>
  </body>
</html>
