<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head bgcolor="#f8f9f9">
  <meta name="google-site-verification" content="UtBQXaaKqY6KYEk1SldtSO5XVEy9SmoUfqJ5as0603Y" />
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
        }
      });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171312398-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171312398-1');
    </script>

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  </head>
  
  <body> 
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% if page.url == "/" %}
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://blbadger.github.io#dynamics" class="btn">Dynamics</a>
      <a href="https://blbadger.github.io#boundaries" class="btn">Boundaries</a>
      <a href="https://blbadger.github.io#foundations" class="btn">Foundations</a>
      <a href="https://blbadger.github.io#physics" class="btn">Physics</a>
      <a href="https://blbadger.github.io#biology" class="btn">Biology</a>
      <a href="https://blbadger.github.io#deep-learning" class="btn">Deep Learning</a>
      <a href="https://blbadger.github.io#high-voltage" class="btn">Sparks & Plasma</a>
      <a href="https://github.com/blbadger" class="btn">Github</a>
      {% endif %}
      
      {% if page.url != "/" %}
        <a href="https://blbadger.github.io" class="btn">Home Page</a>
      {% endif %}
      
      {% if page.url == "/logistic-map.html" %}
      <a href="https://blbadger.github.io/aperiodic-inverted.html" class="btn">Reverse logistic map</a>
      <a href="https://blbadger.github.io/logistic-map#introduction-periodic-trajectories-in-the-logistic-map" class="btn">Periodicity</a>
      <a href="https://blbadger.github.io/logistic-map#aperiodic-trajectories-in-the-logistic-map" class="btn">Aperiodicity</a>
      <a href="https://blbadger.github.io/logistic-map#prediction-accuracy" class="btn">Prediction Accuracy</a>
      <a href="https://blbadger.github.io/logistic-map#nonlinear-maps-are-often-fractals" class="btn">Fractal Zoom</a>
      <a href="https://blbadger.github.io/logistic-map#period-three" class="btn">Period Three</a>
      <a href="https://blbadger.github.io/logistic-map#orbit-map-revisited" class="btn">Orbit Map</a>
      <a href="https://github.com/blbadger/logisticmap" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/clifford-attractor.html" %}
        <a href="https://blbadger.github.io/clifford-boundary.html" class="btn">Clifford Boundary</a>
      <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/grid-map.html" %}
        <a href="https://blbadger.github.io/additivity-order.html" class="btn">Additive order</a>
        <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/pendulum-map.html" %}
        <a href="https://blbadger.github.io/continuity-poincare.html" class="btn">Periodicity in 2D</a>
      {% endif %}
      
      {% if page.url == "/polynomial-roots.html" %}
        <a href="https://blbadger.github.io/polynomial-roots#newtons-method-for-estimating-roots-of-polynomial-equations" class="btn">Newton's Method</a>
        <a href="https://blbadger.github.io/polynomial-roots#newtons-method-in-the-complex-plane" class="btn">In the Complex Plane</a>  
        <a href="https://blbadger.github.io/polynomial-roots#a-simple-unrootable-polynomial" class="btn">Unrootable Polynomial</a>  
        <a href="https://blbadger.github.io/polynomial-roots#newtons-map-rotations" class="btn">Rotations</a>
        <a href="https://pfinderr.herokuapp.com" class="btn">Pfinder</a>
        <a href="https://github.com/blbadger/polyroots" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/polynomial-roots2.html" class="btn">Part II</a>
      {% endif %}
      
      {% if page.url == "/polynomial-roots2.html" %}
        <a href="https://blbadger.github.io/polynomial-roots.html" class="btn">Part I</a>
        <a href="https://blbadger.github.io/polynomial-roots2#periodic-attractor-basins" class="btn">Periodic Attractors</a>  
        <a href="https://blbadger.github.io/polynomial-roots2#julia-and-mandelbrot-sets-in-newtons-map" class="btn">Julia & Mandelbrot Sets</a>
        <a href="https://blbadger.github.io/polynomial-roots2#incrementing-powers" class="btn">Fractional Powers</a>
        <a href="https://blbadger.github.io/polynomial-roots2#secant-method" class="btn">Secant Method</a>
        <a href="https://blbadger.github.io/polynomial-roots2#halleys-method" class="btn">Halley's Method</a>
        <a href="https://pfinderr.herokuapp.com" class="btn">Pfinder</a>
        <a href="https://github.com/blbadger/polyroots" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/julia-sets.html" %}
        <a href="https://blbadger.github.io/julia-sets#plotting-julia-sets-with-python" class="btn">Plotting w/Python</a>
        <a href="https://blbadger.github.io/julia-sets#julia-sets-are-fractals" class="btn">Julia Fractals</a>
        <a href="https://blbadger.github.io/julia-sets#slow-divergence-in-a-julia-set" class="btn">Slow Divergence</a>
        <a href="https://blbadger.github.io/julia-sets#discontinuous-transition-from-linear-to-nonlinear-complex-maps" class="btn">Discontinuous Transitions</a>
        <a href="https://github.com/blbadger/juliabrots" class="btn">Source Code</a>
        <a href="https://jenerator.herokuapp.com/" class="btn">Jenerator</a>
      {% endif %}
      
      {% if page.url == "/mandelbrot-set.html" %}
        <a href="https://github.com/blbadger/juliabrots" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/henon-map.html" %}
        <a href="https://blbadger.github.io/aperiodic-inverted#the-henon-map-is-invertible" class="btn">Inverted Henon</a>
        <a href="https://blbadger.github.io/henon-map.html#the-henon-map-is-a-strange-fractal-attractor" class="btn">Strange Attractor</a>
        <a href="https://blbadger.github.io/henon-map.html#the-boundary-of-the-basin-of-attraction-for-the-henon-map" class="btn">Basin of Attraction</a>
        <a href="https://blbadger.github.io/henon-map.html#a-semicontinuous-iteration-of-the-henon-map-reveals-period-doubling" class="btn">Period Doubling</a>
        <a href="https://blbadger.github.io/henon-map.html#a-pendulum-map-from-the-henon-attractor" class="btn">Pendulum Map</a>
        <a href="https://blbadger.github.io/henon-map.html#fractal-zoom-on-a-henon-map-divergence" class="btn">Fractal Zoom</a>
        <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
            
      {% if page.url == "/clifford-boundary.html" %}
        <a href="https://github.com/blbadger/2dattractors" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/logistic-boundary.html" %}
        <a href="https://github.com/blbadger/logisticmap" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/unpredictable-primes.html" %}
        <a href="https://blbadger.github.io/solvable-periodicity.html" class="btn">Decidable dynamics</a>
      {% endif %}
      
      {% if page.url == "/chaotic-sensitivity.html" %}
        <a href="https://blbadger.github.io/most-discontinuous.html" class="btn">Discontinuity</a>
      {% endif %}
      
      {% if page.url == "/aperiodic-irrationals.html" %}
        <a href="https://blbadger.github.io/unpredictable-primes.html" class="btn">Unpredictable primes</a>
      {% endif %}
      
      {% if page.url == "/irrational-dimension.html" %}
        <a href="https://blbadger.github.io/solvable-periodicity.html" class="btn">Decidability</a>
      {% endif %}
      
      {% if page.url == "/most-discontinuous.html" %}
        <a href="https://blbadger.github.io/aperiodic-irrationals.html" class="btn">Aperiodic Irrationals</a>
      {% endif %}
      
      {% if page.url == "/continuity-poincare.html" %}
        <a href="https://blbadger.github.io/pendulum-map.html" class="btn">Pendulum Map</a>
      {% endif %}
      
      {% if page.url == "/solvable-periodicity.html" %}
        <a href="https://github.com/blbadger/tmachines" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/nonlinear-dimension.html" %}
        <a href="https://blbadger.github.io/fractal-geometry.html" class="btn">Fractal Geometry</a>
      {% endif %}
      
      {% if page.url == "/aperiodic-inverted.html" %}
        <a href="https://github.com/blbadger/logisticmap" class="btn">Logistic Code</a>
        <a href="https://github.com/blbadger/2dattractors" class="btn">Henon Code</a>
      {% endif %}
      
      {% if page.url == "/additivity-order.html" %}
        <a href="https://github.com/blbadger/fractalgeoms" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/fractal-geometry.html" %}
        <a href="https://github.com/blbadger/fractalgeoms" class="btn">Source Code</a>
      <a href="https://blbadger.github.io/fractal-geometry.html#origin-and-cantor-sets" class="btn">Origin</a>
      <a href="https://blbadger.github.io/fractal-geometry.html#space-filling-curves" class="btn">Space Filling Curves</a>
      <a href="https://blbadger.github.io/fractal-geometry.html#fractals-as-objects-of-multiple-dimensions" class="btn">Dimensions</a>
      <a href="https://blbadger.github.io/fractal-geometry.html#more-selfsimilar-fractals" class="btn">Fractals Explored</a>
      <a href="https://blbadger.github.io/fractal-geometry.html#fractal-dimension-from-box-counting" class="btn">Box Counting Dimension</a>
      <a href="https://blbadger.github.io/fractal-geometry.html#fractals-in-the-natural-world" class="btn">In the world</a>
      {% endif %}
      
      {% if page.url == "/3-body-problem.html" %}
        <a href="https://github.com/blbadger/threebody" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/3-body-problem.html#newtonian-mechanics" class="btn">Newtonian Mechanics</a>
        <a href="https://blbadger.github.io/3-body-problem.html#modeling-the-three-body-problem" class="btn">Modeling</a>
        <a href="https://blbadger.github.io/3-body-problem.html#bounded-trajectories-of-3-objects-are-almost-always-aperiodic" class="btn">Aperiodic Trajectories</a>
        <a href="https://blbadger.github.io/3-body-problem.html#poincaré-and-sensitivity-to-initial-conditions" class="btn">Sensitivity to Initials</a>
        <a href="https://blbadger.github.io/3-body-problem.html#divergence-and-smale-horseshoes-with-homoclinic-tanges" class="btn">Divergence and Tangles</a>
        <a href="https://blbadger.github.io/3-body-problem.html#two-body-versus-three-body-problems" class="btn">Two versus Three Bodies</a>
        <a href="https://blbadger.github.io/3-body-problem.html#the-three-body-problem-is-general" class="btn">General Three Body</a>
      {% endif %}
      
      {% if page.url == "/neural-networks.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/neural-networks.html#introduction" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/neural-networks.html#convolutions-explained" class="btn">Convolutions Explained</a>
        <a href="https://blbadger.github.io/neural-networks.html#implementing-a-neural-network-to-classify-images" class="btn">cNN implementation</a>
        <a href="https://blbadger.github.io/neural-networks.html#accurate-image-classification" class="btn">Image Classification</a>
        <a href="https://blbadger.github.io/neural-networks.html#generalization-and-training-velocity" class="btn">Training Velocity</a>
        <a href="https://blbadger.github.io/neural-networks.html#alexnet-revisited" class="btn">AlexNet</a>
        <a href="https://blbadger.github.io/neural-networks.html#how-learning-occurs" class="btn">Input Attribution</a>
        <a href="https://blbadger.github.io/neural-networks.html#learning-does-not-equate-to-global-minimization-of-a-cost-function-during-training" class="btn">Optimization Limits</a>
      {% endif %}
      
      {% if page.url == "/generative-adversarials.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/generative-adversarials.html#introduction" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/generative-adversarials.html#implementing-a-gan" class="btn">GAN Implementation</a>
        <a href="https://blbadger.github.io/generative-adversarials.html#latent-space-exploration" class="btn">Latent Space Exploration</a>
        <a href="https://blbadger.github.io/generative-adversarials.html#continuity-and-gan-stability" class="btn">Continuity and Stability</a>
        <a href="https://blbadger.github.io/generative-adversarials.html#unstable-convolutional-gans" class="btn">Unstable cNN GANs</a>
        <a href="https://blbadger.github.io/generative-adversarials.html#semi-stable-convolutional-gans" class="btn">Semi-Stable cNN GANs</a>
      {% endif %}
      
      {% if page.url == "/input-adversarials.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/input-adversarials.html#classification-of-fashion-mnist-images" class="btn">Fashion MNIST</a>
        <a href="https://blbadger.github.io/input-adversarials.html#flower-type-identification" class="btn">Flower Identification</a>
        <a href="https://blbadger.github.io/input-adversarials.html#adversarial-examples" class="btn">Adversarial Examples</a>
        <a href="https://blbadger.github.io/input-adversarials.html#additivity-for-nonlocality" class="btn">Additive non-locality</a>
      {% endif %}
            
      {% if page.url == "/input-generation.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/input-generation.html#modifying-an-input-via-gradient-descent" class="btn">Input Gradient Descent</a>
        <a href="https://blbadger.github.io/input-generation.html#generating-images-using-a-smoothness-prior" class="btn">Generation with Smoothness</a>
        <a href="https://blbadger.github.io/input-generation.html#generating-images-using-transformation-resiliency" class="btn">Transformation Resiliency</a>
        <a href="https://blbadger.github.io/input-generation.html#image-transfiguration" class="btn">Image Transfiguration</a>
        <a href="https://blbadger.github.io/input-generation.html#input-generation-with-auxiliary-outputs" class="btn">Auxiliary Ouput</a>
        <a href="https://blbadger.github.io/input-generation.html#jitter-using-cropped-octaves" class="btn">Jitter with Octaves</a>
        <a href="https://blbadger.github.io/input-generation.html#googlenet-image-generation" class="btn">Generating with GoogleNet</a>
        <a href="https://blbadger.github.io/input-generation.html#padding-in-the-first-octave" class="btn">Padding</a>
        <a href="https://blbadger.github.io/input-generation.html#resnet-image-generation" class="btn">Generating with ResNet</a>
        <a href="https://blbadger.github.io/input-generation.html#inceptionv3-and-googlenet-compared" class="btn">Generation Comparison</a>
      {% endif %}
      
      {% if page.url == "/latent_output.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/latent_output.html#introduction-with-opposites" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/latent_output.html#dog-transfiguration" class="btn">Transfiguration</a>
        <a href="https://blbadger.github.io/latent_output.html#vector-addition-and-subtraction" class="btn">Addition</a>
        <a href="https://blbadger.github.io/latent_output.html#feature-latent-space" class="btn">Feature Latent Space</a>
        <a href="https://blbadger.github.io/latent_output.html#graphs-on-imagenet-classes" class="btn">Nearest Neighbors</a>
        <a href="https://blbadger.github.io/latent_output.html#output-latent-space" class="btn">Output Space</a>
      {% endif %}
      
      {% if page.url == "/feature-visualization.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/feature-visualization.html#introduction" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/feature-visualization.html#feature-visualization-from-first-principles" class="btn">First Principles</a>
        <a href="https://blbadger.github.io/feature-visualization.html#mapping-inceptionv3-features" class="btn">InceptionV3 Features</a>
        <a href="https://blbadger.github.io/feature-visualization.html#feature-maps-are-metric-invariant" class="btn">Metric Invariance</a>
        <a href="https://blbadger.github.io/feature-visualization.html#mapping-googlenet-features" class="btn">GoogleNet Features</a>
        <a href="https://blbadger.github.io/feature-visualization.html#mapping-resnet-features" class="btn">ResNet Features</a>
        <a href="https://blbadger.github.io/feature-visualization.html#layer-and-neuron-interactions" class="btn">Layer Interactions</a>
      {% endif %}
      
      {% if page.url == "/input-representation.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/input-representation.html#model-similarity-vector-space" class="btn">Model Similarity</a>
      <a href="https://blbadger.github.io/input-representation.html#model-merging" class="btn">Merging via Vectorization</a>
      <a href="https://blbadger.github.io/input-representation.html#trivial-autoencoding-ability-decreases-with-model-depth" class="btn">Representation and Depth</a>
      <a href="https://blbadger.github.io/input-representation.html#imperfect-representations-are-due-to-nonunique-approximation" class="btn">Representation Imperfections</a>
      <a href="https://blbadger.github.io/input-representation.html#why-depth-leads-to-nonunique-trivial-representations" class="btn">Theory of Representations</a>
      <a href="https://blbadger.github.io/input-representation.html#implications-of-imperfect-representation" class="btn">Implications</a>
      {% endif %}
      
      {% if page.url == "/deep-dream.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/deep-dream.html#introduction-with-feature-optimization" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/deep-dream.html#layer-optimization" class="btn">Layer Optimization</a>
        <a href="https://blbadger.github.io/deep-dream.html#image-resolution-flexibility" class="btn">Resolution Flexibility</a>
        <a href="https://blbadger.github.io/deep-dream.html#how-deep-dream-makes-coherent-images" class="btn">How Dreams Work</a>
        <a href="https://blbadger.github.io/deep-dream.html#enhancements-with-dreams" class="btn">Dream Enhancements</a>
        <a href="https://blbadger.github.io/deep-dream.html#directed-dreams" class="btn">Directed Dreams</a>
      {% endif %}
      
      {% if page.url == "/neural-networks3.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/neural-networks3.html#introduction-and-background" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/neural-networks3.html#abstract-sequence-modeling" class="btn">Sequence Modeling</a>
        <a href="https://blbadger.github.io/neural-networks3.html#weaknesses-of-recurrent-neural-network-architectures" class="btn">Recurrent Weaknesses</a>
        <a href="https://blbadger.github.io/neural-networks3.html#structured-sequence-input-encoding" class="btn">Structured Encoding</a>
        <a href="https://blbadger.github.io/neural-networks3.html#controls" class="btn">Controls</a>
        <a href="https://blbadger.github.io/neural-networks3.html#generalization-and-language-model-application" class="btn">Language Model Application</a>
        <a href="https://blbadger.github.io/neural-networks3.html#justification-of-sequence-based-character-encodings" class="btn">Explanation</a>
        <a href="https://blbadger.github.io/neural-networks3.html#introduction-and-background" class="btn">Introduction</a>
      {% endif %}
      
      {% if page.url == "/nn_interpretations.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/nn_interpretations.html#introduction" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/nn_interpretations.html#attribution-via-occlusion" class="btn">Occlusion</a>
        <a href="https://blbadger.github.io/nn_interpretations.html#attribution-via-saliency" class="btn">GradientxInput</a>
        <a href="https://blbadger.github.io/nn_interpretations.html#combining-occlusion-and-gradientxinput" class="btn">Combined Attribution</a>
      {% endif %}
      
      {% if page.url == "/neural-networks2.html" %}
        <a href="https://github.com/blbadger/nnetworks" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/neural-networks2.html#the-importance-of-randomization" class="btn">Introduction</a>
        <a href="https://blbadger.github.io/neural-networks2.html#stochastic-gradient-descent" class="btn">SGD as an Integral</a>
        <a href="https://blbadger.github.io/neural-networks2.html#training-memory" class="btn">Training Memory</a>
        <a href="https://blbadger.github.io/neural-networks2.html#input-randomization-and-training-memory" class="btn">Input Randomization</a>
        <a href="https://blbadger.github.io/neural-networks2.html#a-possible-benefit-from-randomizing-inputs-during-training" class="btn">Randomization during Training</a>
      {% endif %}
      
      {% if page.url == "/puzzle-projects.html" %}
        <a href="https://github.com/blbadger/miscellaneous_fun_projects" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/computing-programs.html" %}
        <a href="https://github.com/blbadger/miscellaneous_fun_projects" class="btn">Source Code</a>
      {% endif %}
      
      {% if page.url == "/neural-networks3.html" %}
        <a href="https://github.com/blbadger/nnetworks/tree/master/interprets" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/nn_interpretations.html" class="btn">Part II</a>
      {% endif %}
      
      {% if page.url == "/nn_interpretations.html" %}
        <a href="https://github.com/blbadger/nnetworks/tree/master/interprets" class="btn">Source Code</a>
        <a href="https://blbadger.github.io/neural-networks3.html" class="btn">Part I</a>
     
      
      
      {% endif %}
      
      
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer" style="font-size: 1.1rem">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits"> Built with Jekyll on Cayman. &copy; B. L. Badger. </span>
        <span class="site-footer-credits">Link to <a href="https://blbadger.github.io">Home Page</a>.</span>
      </footer>
    </main>
  </body>
</html>
